@{
    ViewBag.Title = "Home Page";
}
@section css {

    <link href="@Url.Content("~/Content/passport_base.css")" rel="stylesheet" type="text/css" />
}
<h2>Index</h2>

@ViewBag.Message

	<div class="page clearfix">
	    <div class="box">
		    <a target="_top" href="http://www.adform.com" class="no-outline">
            <!--    <img src="@Url.Content("~/Content/Images/logo.png")" alt="Adform logo"> -->
                <h1 class="logo">Adform</h1>
		    </a>

        <form action="/passport/" method="post">
            <ul>
                <li >
                    <input autocomplete="on" autofocus="autofocus" id="username" name="username" placeholder="Username" tabindex="1" type="text" value="" />                
                </li>
                <li >
                    <input autocomplete="on" id="password" name="password" placeholder="Password" tabindex="2" type="password" /><br />               
                </li>
                <li class="form-actions clearfix">
                    <button type="submit" tabindex="3">
                        <strong class="icon go">Login</strong></button>
                    <!-- Before: <input type="submit" name="Submit" value="Login" /> -->
                
                    <a class="icon remind" href="/Passport/Adform/Account/ForgotPassword?ReturnUrl=">Forgot your password?</a>                
                    <input type="hidden" name="alf" id="alf" value="1" />        
                </li>
            </ul>        
        </form>
        <a href="/site/files/passport/redirect.html" target="_blank" class="redirect-button"></a>
	
		</div>
		
		<div class="push"></div>
	</div>