@{
    ViewBag.Title = "D3 Index";
}
<h2>Place for D3 example</h2>


@for(var i = 1; i <= 3; i++){<p>@i</p>}

<script>
    d3.select("body").transition()
    .style("background-color", "lightblue");

    d3.selectAll("p").style("color", "blue");

    d3.selectAll("p")
    .data([4, 8, 15, 16, 23, 42])
    .style("font-size", function (d) { return d + "px"; });
</script>


<script type='text/javascript'>
    var data = [32, 57, 112],
        dataEnter = data.concat(293),
        dataExit = data.slice(0, 2),
        w = 360,
        h = 180,
        x = d3.scale.ordinal().domain([57, 32, 112]).rangePoints([0, w], 1),
        y = d3.scale.ordinal().domain(data).rangePoints([0, h], 2);
</script>

<!--
<div class="chart" id="chart-22">
<svg width="360" height="180">
    <circle class="little" cx="180" cy="45" r="12"></circle>
    <circle class="little" cx="60" cy="90" r="12"></circle>
    <circle class="little" cx="300" cy="135" r="12"></circle>
</svg>
<button onclick="myFunction()">Run</button>
</div>
<script>
    function myFunction() {
        d3.selectAll("#chart-22 circle").transition()
            .style("fill", "blue");
    }
</script>
-->

<div class='chart' id='chart-2'>
<pre class='code'>
var circle = svg.selectAll("circle");
</pre>
<button>Run</button>
</div>
<script type='text/javascript'>
          (function () {
              var svg = d3.select("#chart-2").append("svg")
                  .attr("width", w)
                  .attr("height", h);

              svg.selectAll(".little")
                  .data(data)
                .enter().append("circle")
                  .attr("class", "little")
                  .attr("cx", x)
                  .attr("cy", y)
                  .attr("r", 12);

              d3.select("#chart-2 button").on("click", function () {
                  svg.selectAll(".select").remove();

                  svg.selectAll(".select")
                      .data(data)
                    .enter().append("circle")
                      .attr("class", "select")
                      .attr("cx", x)
                      .attr("cy", y)
                      .attr("r", 60)
                      .style("fill", "none")
                      .style("stroke", "red")
                      .style("stroke-opacity", 1e-6)
                      .style("stroke-width", 3)
                    .transition()
                      .duration(750)
                      .attr("r", 12)
                      .style("stroke-opacity", 1);
              });
          })();
</script>
