@{
    Layout = null;
}
<<<<<<< HEAD
<!DOCTYPE html>
<html>
<head>
    <title>Index</title>
    <script src="http://d3js.org/d3.v3.min.js" type="text/javascript"></script>
</head>

<style type="text/css">
path {
  stroke: white;
  stroke-width: 0.25px;
  fill: grey;
}

svg
{
  margin-left:auto;
  margin-right:auto;
}
</style>
<body>
    <div>
        Hello World and Index page
    </div>
    <script type="text/javascript">

        var width = 960,
        height = 700;

        var projection = d3.geo.mercator()

        var svg = d3.select("body")
            .append("svg")
			.attr("width", width)
			.attr("height", height);

        var path = d3.geo.path()
            .projection(projection)

        var g = svg.append("g");

        //var coo = results.features[1].coordinates;
        var coordinates = projection([-73.403686, 44.153102]);

        svg.append("circle")
                .attr("cx", coordinates[0])
                .attr("cy", coordinates[1])
                .attr("r", 5)
                .style("fill", "red")
        ;

        svg.append("svg:text")
            .text("Group 1")
        .attr("x", coordinates[0])
        .attr("y", coordinates[1])
        .style("stroke", "black")
        .style("stroke-width", 1)
        .style("font-size", "100%")
        .style("fill", "orange");

        // load and display the USA map
        d3.json("Content/data/maps.json", function (data) {
            g.selectAll("path")
                .data(data.features)
                .enter()
                .append("path")
                .attr("d", path)
                .attr("class", "area")
                .attr("fill", "steelblue");

        });


        // zoom and pan
        var zoom = d3.behavior.zoom()
            .on("zoom", function () {
                g.attr("transform", "translate(" +
                    d3.event.translate.join(",") + ")scale(" + d3.event.scale + ")");
                g.selectAll("path")
                    .attr("d", path.projection(projection));
            });

        svg.call(zoom)

        svg.selectAll("circle")
            .data(data)
            .enter()
            .append("circle")
            .attr("cx", function (d) {
                return projection([d.lon, d.lat])[0];
            })
            .attr("cy", function (d) {
                return projection([d.lon, d.lat])[1];
            })
            .attr("r", 5)
            .style("fill", "yellow")
            .style("opacity", 0.75);


</script>
=======
<script src="http://d3js.org/queue.v1.min.js" type="text/javascript"></script>
<script src="http://d3js.org/topojson.v1.min.js" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/d3tests/colorPallete.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/d3tests/constants.js")" type="text/javascript"></script>

<style>
path {
  fill: rgb(217, 217, 217);
  stroke: #fff;
  stroke-linejoin: round;
}
.background {
  fill: none;
  pointer-events: all;
}

div.tooltip {   
  line-height: 30%;
  position: absolute;           
  text-align: left;           
  width: 150px;                  
  height: 250px;                 
  padding: 2px;             
  font: 10px sans-serif;        
  background: lightsteelblue;   
  border: 0px;      
  border-radius: 8px;           
  pointer-events: none;     
}
div.tooltip h1 {
  font: 12px sans-serif;  
  text-align: center;  
  margin: 1px;
}
div.tooltip p {
  margin: 1px;
  display:table;
}
</style>

<!--
<h2>Graph01</h2>
<div id="graph01"></div>
<script src="@Url.Content("~/Scripts/d3tests/graph01.js")" type="text/javascript"></script>
-->
<h2>Graph02</h2>
<div id="grafikas2" style="text-align:left;">
    <div class="row">
        <div id="adformMetricSelector" class="span4">
        </div>
        <div id="zoomOutControl" class="span4" style="display:none">
            <button id="zoomOutbutton" class="btn">-Zoom Out</button>
        </div>
    </div>
    <div class="row" id="graph02">
    </div>
</div>

<script src="@Url.Content("~/Scripts/d3tests/graph02.js")" type="text/javascript"></script>

    <script>
        var json = $.getJSON("/Content/data/colors.json");
        var data = eval("(" + json.responseText + ")");

        document.getElementById("cl1").innerHTML = data.colors[0].range
        document.getElementById("cl2").innerHTML = data.colors[1].range
        document.getElementById("cl33").innerHTML = data.colors[2].range

        document.getElementById("td1").innerHTML = data.colors[0].range
        document.getElementById("td2").innerHTML = data.colors[1].range
        document.getElementById("td3").innerHTML = data.colors[2].range
    </script>

<table border="1">
<tr>
<td id="cl1"></td>
<td id="cl2"></td>
<td id="cl3"></td>
</tr>
<tr>
<td id="td1">test</td>
<td id="td2"></td>
<td id="td2"></td>
</tr>
</table> 

